<div class="page" data-page="equipLinkage_en" id="equipLinkage_en">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- 标题 -->
            <div class="left">
                <a href="#" id="scan" onclick="RichScan()">
                    <i class="iconfont icon-scanIcon">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                Equipment linkage
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/mobile-en/setPage_en/" id="setPageTool">
                    <i class="iconfont icon-f7_right_user">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="equipLinkageContainer">
            <div class="subnavbarTabel row no-gap">
                <a class="col-33" >
                    Trigger device 
                </a>
                <a class="col-33">
                    Linkage equipment
                </a>
                <a class="col-33">
                    Remarks
                </a>                
            </div>
            <div class="equipLinkageContent">
                <section class="equipGroupPublic" id="equipLinkage_set">
                    <ul class="publicTable">
                    </ul>
                </section>
                <div class="scheduleRightBottomBtn transformReportingMenu">
                    <a class="link" href="#" id="equipLinkage_set_nav" >
                         <span>
                             <button onclick='newlyBuildLinkage_en(" ",2);'  TrID="getMaxID_en()" TrRow = "" >Newly added</button>
                         </span>
                        <img src="/Image/phone/directionjt.png" alt="" onclick="transformReportingObstaciesMenu1_en()"/>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>