<div class="page" data-page="sceneEdit_en" id="sceneEdit_en">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- 标题 -->
            <div class="left">
                <a href="#" id="scan" onclick="RichScan()">
                    <i class="iconfont icon-scanIcon">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                Scene editing
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/setPage/" id="setPageTool">
                    <i class="iconfont icon-f7_right_user"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="equipLinkageContainer">
            <div class="subnavbarTabel row no-gap">

                <a class="col-100" href="#">
                    Scene Name
                </a>
            </div> 
            <div class="equipLinkageContent">

                <section class="list accordion-list" id="equipLinkage_edit">
                    <ul>
                    </ul>
                </section>
                <div class="scheduleRightBottomBtn transformReportingMenu">
                    <a class="link" href="#" id="equipLinkage_edit_nav" >
                         <span>
                             <button onclick="scanelEdit_en(this,2);">Newly added</button>
                         </span>
                        <img src="/Image/phone/directionjt.png" alt="" onclick="transformReportingObstaciesMenu_scene_en()"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>