#container {
	height:100%
}
.view .toolbar .toolbar-inner>a.active {
	color:#2d8cf0
}
#homeContents {
	width:100%;
	height:100%;
	overflow-y:auto;
	padding:0.5rem 0.5rem 2rem 0.5rem
}
#homeContents>ul.charts-block {
	width:100%
}
#homeContents>ul.charts-block>li {
	width:100%;
	text-align:center;
	padding:10px;
	margin-bottom:10px
}
#homeContents>ul.charts-block>li h3 {
	margin-bottom:0.2rem
}
#homeContents>ul.charts-block>li h3 i {
	font-size:1.5rem;
	margin-right:10px;
	vertical-align:middle;
	position:relative;
	top:-2px
}
#homeContents>ul.charts-block>li li {
	margin-top:10px
}
#homeContents>ul.charts-block>li li .homeBtn {
	width:100%;
	height:100%;
	display:inline-block;
	position:relative
}
#homeContents>ul.charts-block>li li .homeBtn i {
	font-size:2rem;
	padding:0.3rem 0.8rem;
	margin-bottom:10px;
	display:inline-block
}
#homeContents>ul.charts-block>li li .homeBtn p {
	margin:0;
	font-size:0.9rem
}
#homeContents>ul.charts-block>li li .homeBtn img {
	width:40%
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .swiper-slide {
	overflow:hidden;
	border-radius:0px 0px 12px 12px
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .pptPatternHeader,#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .videoPatternHeader {
	padding:10px;
	background:#fff;
	box-shadow:0 4px 16px 0 rgba(0,0,0,0.1);
	border-radius:12px 12px 0px 0px;
	position:relative
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .pptPatternHeader span,#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .videoPatternHeader span {
	text-align:left;
	position:relative;
	margin-bottom:15px;
	padding-left:80px
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .pptPatternHeader span h3,#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .videoPatternHeader span h3 {
	text-align:left;
	white-space:nowrap
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .pptPatternHeader a,#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .videoPatternHeader a {
	width:60px;
	height:60px;
	line-height:55px;
	text-align:center;
	background:url(../../Image/phone/rect.png) no-repeat center/100% 100%;
	position:absolute
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .pptPatternHeader a i,#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper .videoPatternHeader a i {
	color:#fff;
	font-size:2rem
}
#homeContents>ul.charts-block>li .HomeShortcutFunction-swiper p {
	color:#fff;
	margin:0;
	text-indent:10px;
	text-align:left;
	padding:5px 0;
	background-image:linear-gradient(-135deg,#FF6642 0%,#FD6000 53%,#FF3B98 100%);
	box-shadow:0 4px 16px 0 rgba(255,102,66,0.5);
	border-radius:0px 0px 12px 12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
#homeContents>ul.charts-block>li .commonlyUsed li a,#homeContents>ul.charts-block>li .sysFourMenu li a {
	width:100%;
	height:100%;
	display:inline-block
}
#homeContents>ul.charts-block>li .commonlyUsed li a i,#homeContents>ul.charts-block>li .sysFourMenu li a i {
	font-size:2rem;
	padding:0.3rem 0.8rem;
	margin-bottom:10px;
	display:inline-block
}
#homeContents>ul.charts-block>li .commonlyUsed li a p,#homeContents>ul.charts-block>li .sysFourMenu li a p {
	margin:0
}
#homeContents>ul.charts-block>li .pptPattern_container h3,#homeContents>ul.charts-block>li .jjPattern_container h3 {
	font-size:1.3rem;
	color:#666;
	font-weight:100;
	text-align:center;
	position:relative
}
#homeContents>ul.charts-block>li .pptPattern_container h3 label,#homeContents>ul.charts-block>li .jjPattern_container h3 label {
	font-size:12px;
	display:block;
	text-align:center
}
#homeContents>ul.charts-block>li .pptPattern_container h3 span,#homeContents>ul.charts-block>li .jjPattern_container h3 span {
	color:#afb5bc;
	font-weight:500;
	display:inline-block;
	padding:0px 5px;
	position:relative;
	z-index:1
}
#homeContents>ul.charts-block>li .pptPattern_container ul>li>a,#homeContents>ul.charts-block>li .jjPattern_container ul>li>a {
	display:block
}
#homeContents>ul.charts-block .statisticsTable {
	padding:10px 0;
	text-align:center
}
#homeContents>ul.charts-block .statisticsTable a {
	font-size:12px;
	position:relative
}
#homeContents>ul.charts-block .statisticsTable a p {
	font-family:serif;
	font-size:1.5rem;
	margin:0.2rem 0 0 0
}
#homeContents>ul.charts-block .statisticsTable a:after {
	content:"";
	width:1px;
	transform:scaleX(0.9);
	height:60%;
	border-right:1px solid #e9e7e1;
	position:absolute;
	top:25%;
	right:0%
}
#homeContents>ul.charts-block .statisticsTable a:nth-of-type(1) p {
	color:red
}
#homeContents>ul.charts-block .statisticsTable a:nth-of-type(2) p {
	color:#F18E2E
}
#homeContents>ul.charts-block .statisticsTable a:nth-of-type(3) p {
	color:#4BCAF1
}
#homeContents>ul.charts-block .statisticsTable a:nth-of-type(4) p {
	color:#FBD260
}
#homeContents>ul.charts-block .statisticsTable a:nth-of-type(5) p {
	color:#5DA337
}
#homeContents>ul.charts-block .statisticsTable a:nth-of-type(5):after {
	height:0px
}
#homeContents>div {
	margin-top:10px
}
#homeContents .HomeButton {
	width:100%;
	text-align:center;
	padding:10px;
	overflow:hidden;
	background:#fff
}
#homeContents .HomeButton>div.HomeButton_title {
	margin-bottom:20px;
	border-bottom:1px solid #2d8cf0
}
#homeContents .HomeButton>div.HomeButton_title>a {
	height:100%;
	padding:1rem 0;
	display:inline-block;
	color:#414141
}
#homeContents .HomeButton>ul>li {
	overflow:hidden;
	margin-bottom:10px
}
#homeContents .HomeButton>ul>li>a {
	font-size:.8rem;
	width:100%;
	height:100%;
	display:inline-block;
	text-align:center;
	border:1px solid #f0f4f7;
	position:relative
}
#homeContents .HomeButton>ul>li>a>p {
	margin:0.5rem 0;
	color:#414141
}
#homeContents .swiper-paginationTrailer {
	width:100%;
	position:absolute;
	bottom:-1%;
	left:50%;
	transform:translateX(-50%)
}
#homeContents .swiper-paginationTrailer>span {
	margin:0px 1%;
	border-radius:15%
}
#homeContents .swiper-paginationTrailer .swiper-pagination-bullet-active {
	box-shadow:1px 1px 20px #ddd,-1px -1px 20px #ddd
}
#homeContents .homeControlFunction:after {
	content:"";
	flex:0.7
}
.startAnimation {
	animation:rotate 1s ease-in 0s
}
@keyframes shadow {
	0%,100% {
	transform:scaleX(1)
}
50% {
	transform:scaleX(1.2)
}
}@keyframes rotate {
	0% {
	transform:translateY(0)
}
25% {
	transform:translateY(10px)
}
50% {
	transform:translateY(20px) scale(1.1,0.9)
}
75% {
	transform:translateY(10px)
}
100% {
	transform:translateY(0)
}
}.popup-public {
	z-index:19999;
	left:0 !important;
	top:0 !important
}
.popup-public .publicHeader {
	height:60px;
	line-height:60px;
	text-align:center
}
.popup-public .publicHeader>div {
	position:absolute;
	left:0;
	width:20%;
	height:60px;
	line-height:60px
}
.popup-public .publicHeader>div i {
	font-size:1rem
}
.popup-public .publicHeader>span {
	font-size:1.2rem;
	width:100%;
	height:100%;
	line-height:60px;
	text-align:center;
	display:inline-block
}
.popup-public>section {
	position:absolute;
	top:60px;
	right:0;
	bottom:0;
	left:0;
	overflow-y:auto
}
.popup-public>section>.popoverSystemMenu {
	width:100%;
	height:100%
}
.popup-public>section>.popoverSystemMenu>a {
	width:90%;
	margin:25px 0 0 5%;
	padding:15px 0;
	text-align:center;
	display:inline-block;
	border-radius:6px
}
.popup-public>section>.popoverSceneBtn {
	height:100%;
	padding:30px 10px;
	overflow-y:auto
}
.popup-public>section>.popoverSceneBtn>a {
	text-align:center;
	border-radius:12px;
	padding:8px 0;
	margin-bottom:20px
}
.popup-public>section>.popoverSceneBtn>a span i {
	font-size:2.5rem
}
.popup-public>section>.popoverSceneBtn>a p {
	opacity:0.7;
	margin:0;
	font-size:0.8rem;
	letter-spacing:0;
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.popup-public>section>.popoverSceneBtn:after {
	content:"";
	flex:0.85
}
.popup-public>section>.popoverVideoExplain {
	width:100%;
	height:100%;
	padding:5%;
	text-align:center
}
.popup-public>section>.popoverVideoExplain a {
	text-align:center
}
.popup-public>section>.popoverVideoExplain>a {
	font-size:1rem;
	width:90%;
	height:50px;
	line-height:50px;
	position:absolute;
	left:5%;
	bottom:10%;
	border-radius:5px
}
.popup-public>section>.popoverVideoExplain>a>span {
	display:none
}
.popup-public>section>.popoverVideoExplain>div:nth-child(1) a {
	text-align:center;
	border-radius:12px;
	padding:8px 0;
	margin-bottom:20px
}
.popup-public>section>.popoverVideoExplain>div:nth-child(1) a i {
	font-size:3rem;
	display:inline-block
}
.popup-public>section>.popoverVideoExplain>div:nth-child(2) a {
	text-align:center;
	border-radius:12px;
	padding:8px 0;
	margin-bottom:20px
}
.popup-public>section>.popoverPptPlay {
	padding:5%;
	text-align:center
}
.popup-public>section>.popoverPptPlay>a {
	text-align:center
}
.dialog.modal-in {
	z-index:20000
}
/*# sourceMappingURL=home.css.map */
