<div class="page" data-page="equipLinkage" id="equipLinkage">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- 标题 -->
            <div class="left">
                <a href="#" id="scan" onclick="RichScan()">
                    <i class="iconfont icon-scanIcon">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                设备联动
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/setPage/" id="setPageTool">
                    <i class="iconfont icon-f7_right_user"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="equipLinkageContainer">
            <div class="subnavbarTabel row no-gap">
                <a class="col-33" >
                    触发设备 
                </a>
                <a class="col-33">
                    联动设备 
                </a>
                <a class="col-33">
                    备注 
                </a>                
            </div>
            <div class="equipLinkageContent">
                <section class="equipGroupPublic" id="equipLinkage_set">
                    <ul class="publicTable">
                    </ul>
                </section>
                <div class="scheduleRightBottomBtn transformReportingMenu">
                    <a class="link" href="#" id="equipLinkage_set_nav" >
                        <span>
                             <button onclick='newlyBuildLinkage(" ",2);'  TrID="getMaxID_en()" TrRow = "">新增联动</button>
                         </span>
                        <img src="/Image/phone/directionjt.png" alt="" onclick="transformReportingObstaciesMenu1()"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>